<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {{!-- FontAwesome --}}
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{> header }}
  <script src="https://code.jquery.com/jquery-1.12.3.min.js"
    integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
  <div class="container">
    {{{body}}}
  </div>

  <!-- Footer -->
  <div id="container" style="margin-top: 5rem">
    <div class="text-center center-block">
      <a href="#" style="margin-right:10px"><i class="fa fa-facebook-square fa-3x social" style="color:black"></i></a>
      <a href="#" style="margin-right:10px"><i class="fa fa-youtube-square fa-3x social" style="color:black"></i></a>
      <a href="#"><i class="fa fa-instagram fa-3x social" style="color:black"></i></a>
      <br />
      <p style="margin-top: 1rem"><a style="color:black">© 2019 AlexArt</a></p>
    </div>
    <!-- Footer end -->
</body>
<script src=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
  integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
  </script>
</body>

</html>