.footer {
  padding: 2.2rem 0rem;
  background: #333;
  color: #f4f4f4;
  width: 100%;
 /*  height: 50px; */
  text-align: center;
/*   margin-top: 3rem; */
  position: sticky;
}
.footer-center {
  color: #259191;
  left: 50%;
}

/* LOGO PIC IN THE FOOTER */
img {
  width: 5rem;
  margin: -1.5rem;
}