.bookings-control {
  text-align: center;
  border: 1px solid #259191;
  padding: 1rem;
  margin: 5rem auto;
  width: 30rem;
  max-width: 80%;
}

/* RESPONSIVE - small screens */
@media (max-width: 560px) {
  .bookings-control {
    margin-top: 10rem;
  }
}
