<div class="jumbotron text-center" id="jumbo">
    <h1>Welcome to AlexArt!</h1>
    <p>Pick Up Your Favourite Art Object!</p>
</div>

{{!-- Carousel --}}
<div class="container">
    <h2>Pick up your Favourite!</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item">
                <img src="../../public/images/img5.jpeg" alt="landscape" style="width:100%;">
                <div class="carousel-caption">
                    <h3>Paysage</h3>
                    <p>My colorful city</p>
                </div>
            </div>

            <div class="item">
                <img src="../../public/images/img4.jpeg" alt="Artsy" style="width:100%;">
                <div class="carousel-caption">
                    <h3>Artsy</h3>
                    <p>Let's get Artsy!</p>
                </div>
            </div>

            <div class="item active">
                <img src="../../public/images/img1.jpg" alt="Remember" style="width:100%;">
                <div class="carousel-caption">
                    <h3>Remember</h3>
                    <p>Remembrance Day</p>
                </div>
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
{{!-- Carousel end --}}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Creative Youtube tutorials</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            <button class="btn btn-success">Check it out</button>
        </div>
        <div class="col-sm-4">
            <h3>Wokshops</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            <button class="btn btn-success">Check it out</button>
        </div>
        <div class="col-sm-4">
            <h3>Freelancing Projects</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            <button class="btn btn-success">Check it out</button>
        </div>
    </div>
</div>